.checkout-page {
     width: 55%;
     min-height: 90vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 50px auto 0;
     .checkout-title {
          margin-bottom: 2em;
     }
     .checkout-header {
       width: 100%;
       padding: 10px 0;
       display: flex;
       justify-content: space-between;
       border-bottom: 1px solid darkgrey;
   
       .header-block {
         text-transform: capitalize;
         width: 23%;
   
         &:last-child { //the remove tab
           width: 8%;
         }
       }
     }
     .cart-empty {
       margin-top: 2em;
     }
     .checkout-total {   
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2.5em auto;
      font-size: 16px;
      
     }
     .total {
      margin: 0.25em auto 2em auto;
     }
     .stripe {
      margin: 0.5em auto;
     }
     .test-warning { 
      width: 100%;
      margin: auto 5em;
      font-size: 15px;
      color: black;
      box-shadow: 0 0 5px grey;
      padding: 5px;
      border-radius: 5px;
     }
     li{
        list-style: none;
      }
   }
   