.cart-item {
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
    justify-content: flex-start;
     height: 80px;
     margin-bottom: 2px;
    box-shadow: 0 0 1px rgb(150, 148, 148);

     img {
       margin: 10px auto;
       width: 17%;
       height: 3em;
       border-radius: 50%
     }
   
     .item-details {
       width: 82%;
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: flex-start;
       padding: 10px 5px;
       color: black;
       margin: auto;
      
       
       .name {
        font-size: 14px;
        width: 60%;
        margin-left: 0;
        text-align: center;
       
       }
       .change-qty{   
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
  
         .price {
          text-align: center;
          font-size: 0.8em;
          margin: 5px;
         }
         .item-qty {
          margin: 5px;
          font-size: 0.8em;
          font-weight: 100;
          color: black;
       }
       .arrow {
        cursor: pointer;
        margin: 2px;
      }
      .arrow:hover,
      .arrow:active {
        color: #ff6d00;
      }
      .arrow:active {
        color: #ff6d00;
        font-size: 0.9em;
      }
      
     .btn-remove {
     margin-top: 5px;
     margin-left: 5px;
     }
    }
    .btn-remove:hover{
    cursor: pointer;
   
    }
    .btn-remove:active,
    .btn-remove:focus{
     font-size: x-small;
     }
     }
    //  .btn-remove:active{
    //   font-size: small;

    //  }
   }


   //
  //  .arrow:active{
  //   font-size: 0.7em; 
  //   color: #ff6d00;
  //   font-weight: bold;
  //   cursor: pointer;
  // }
  
  // &:hover {
  //   .image {
  //     box-shadow: 0 0 10px #37474f;
  //   }
  //   .btn {
  //     opacity: 0.75;
  //     display: flex;
  //   }
   